<div class='comment_form'>
		<h3>Post a comment</h3>
		<%= form_for [ @article, @comment ] do |f| %>
		<p>
				<%= f.label :author_name, 'Your name' %><br/>
				<%= f.text_field :author_name %>
		</p>
		<p>
				<%= f.label :body, 'Your comment' %><br/>
				<%= f.text_area :body %>
		</p>
		<p>
				<%= f.submit 'Submit' %>
		</p>
</div>
<% end %>
