<div>
	<div class='comment_body'>
		<h4><div class='comment_author'><%= comment.author_name %> commented:</div></h4>
		<p><%= comment.body %></p>
		<p><div class='comment_time'>Posted <%= distance_of_time_in_words(comment.article.created_at, comment.created_at) %> later</div></p>
	</div>
</div>
