<%= form_for(@article, html: {multipart: true}) do |f| %>
<ul>
	<% @article.errors.full_messages.each do |error| %>
	<li><%= error %></li>
	<% end %>
</ul>
<p>
	<%= f.label :title %><br />
	<%= f.text_field :title %>
</p>
<p>
	<%= f.label :body %><br />
	<%= f.text_area :body %>
</p>
<p>
	<%= f.label :tag_list %><br />
	<%= f.text_field :tag_list %>
</p>
<p>
	<% if @article.image.exists? %>
		<%= image_tag @article.image.url(:medium) %><br/>
	<% end %>
   <%= f.label :image, "Attach an Image" %><br />
   <%= f.file_field :image %>
<p>
	<%= f.submit %>
</p>
<%= link_to "<< Back to articles", articles_path, class: 'back_to_articles_button' %>
<% end %>
