<h1><%= @article.title %></h1>
<p>
	<div class='display_tags'>
			Tags:
			<% @article.tags.each do |tag| %>
				<%= link_to tag.name, tag_path(tag) %>
			<% end %>
	</div>
</p>
<p>
	<% if @article.image.exists? %>
		<%= image_tag @article.image.url(:medium) %><br/>
	<% end %>
<p><h3><%= @article.body %></h3></p>
<p><div class='time_edited'>Article posted: <%= @article.updated_at %></div></p>
<%= link_to "Edit this article", edit_article_path(@article), class: "edit_article_button" %>
<h3><div class='comment_title'>Comments (<%= @article.comments.size %> total)</div></h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>
<%= link_to "<< Back to Articles List", articles_path, class: "back_to_articles_list_link" %>
<%= link_to "Delete this article...", article_path(@article), data: {confirm: "Are you sure?"}, method: :delete, class: "delete_article_button" %>
