<h1>All tags</h1>

<ul class='tag_list'>
	<% @tags.each do |tag| %>
		<li class='article_tag_list'>
			<%= link_to tag.name, tag_path(tag) %>
		</li>
	<% end %>
</ul>
<%= link_to "<< Back to articles list", articles_path, class: "back_to_articles_list_link" %>
