<p>
   <h1>Articles tagged with <%= @tag.name %></h1>

   <ul>
	  <% @tag.articles.each do |article| %>
		<h3><li class='article_tag_list'><%= link_to article.title, article_path(article) %></li><h3>
		<%= link_to "Delete this tag", tag_path(@tag), data: {confirm: "Are you sure?"}, method: :delete, class: "delete_tag_button" %>
	  <% end %>
   </ul>
</p>
<p><h5><%= link_to "View all tags", tags_path, class: "view_all_tags" %></h3></p>
