@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline
}

body {
    line-height: 1;
    color: black;
    background: white
}

ol, ul {
    list-style: none
}

table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q, blockquote {
    quotes: "" ""
}

q:before, q:after, blockquote:before, blockquote:after {
    content: ""
}

a img {
    border: none
}

.fancy-button-reset-base-class, input[type=submit] {
    font-family: "Lucida Grande", Lucida, Arial, sans-serif;
    background: url('/images/button_bg.png?1301401396') repeat-x bottom left;
    margin: 0;
    width: auto;
    overflow: visible;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border-style: solid;
    font-weight: bold
}

.fancy-button-reset-base-class::-moz-focus-inner, input[type=submit]::-moz-focus-inner {
    border: none;
    padding: 0
}

.fancy-button-reset-base-class:focus, input[type=submit]:focus {
    outline: none
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: block
}

.headings, h1 {
    font-family: "Yanone Kaffeesatz", sans
}

html {
    background: #d3dd8a;
    -moz-background-size: 80px 80px;
    -webkit-background-size: 80px 80px;
    -o-background-size: 80px 80px;
    background-size: 80px 80px;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(25%, rgba(255, 255, 255, 0.1)), color-stop(25%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.1)), color-stop(75%, rgba(255, 255, 255, 0.1)), color-stop(75%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(left top, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
    background-image: linear-gradient(left top, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0))
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans;
    background: #fff;
    margin: 50px auto 30px;
    color: #2d4159;
    padding: 20px;
    width: 85%;
    min-width: 600px;
    max-width: 1250px;
    min-height: 280px;
    position: relative;
    line-height: 1.25em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box
}

body:before {
    content: " ";
    z-index: -2;
    position: absolute;
    left: -4px;
    right: 8px;
    top: 8px;
    height: 260px;
    background: #2b445c;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) -2px 3px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) -2px 3px 3px;
    -o-box-shadow: rgba(0, 0, 0, 0.15) -2px 3px 3px;
    box-shadow: rgba(0, 0, 0, 0.15) -2px 3px 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
    -moz-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg)
}

body:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: 2px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    background: #000;
    z-index: -1;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 1px;
    -o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 1px
}

a {
    color: #2d4159
}

a:hover {
    color: #233245
}

p.flash {
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
    -o-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -o-border-bottom-left-radius: 6px;
    -ms-border-bottom-left-radius: 6px;
    -khtml-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -o-border-bottom-right-radius: 6px;
    -ms-border-bottom-right-radius: 6px;
    -khtml-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.6)));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
    border: 3px solid rgba(255, 255, 255, 0.5);
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
    text-shadow: rgba(0, 0, 0, 0.6) 0 -1px;
    color: #fff;
    margin: 0 auto;
    position: absolute;
    top: -51px;
    left: 0;
    padding: .4em .8em;
    width: 100%;
    text-align: center;
    border-top: 0
}

p.flash:empty {
    height: 0px;
    overflow: hidden;
    padding: 0;
    border-width: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    background: none
}

h1 {
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    -o-border-top-left-radius: 6px;
    -ms-border-top-left-radius: 6px;
    -khtml-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    -o-border-top-right-radius: 6px;
    -ms-border-top-right-radius: 6px;
    -khtml-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #42678d), color-stop(100%, #223447));
    background-image: -moz-linear-gradient(#42678d, #223447);
    background-image: linear-gradient(#42678d, #223447);
    -moz-box-shadow: rgba(255, 255, 255, 0.15) 0 1px inset, white 0 1px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.15) 0 1px inset, white 0 1px;
    -o-box-shadow: rgba(255, 255, 255, 0.15) 0 1px inset, white 0 1px;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px inset, white 0 1px;
    margin: -20px -20px 15px;
    padding: 20px;
    padding-right: 180px;
    line-height: 1em;
    font-weight: normal;
    color: #fff;
    position: relative;
    text-shadow: #192836 0 -2px;
    font-size: 2.5em
}

h1:after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    height: 15px;
    bottom: -16px;
    border-top: 1px solid #e5e5e5;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(170, 170, 170, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(rgba(170, 170, 170, 0.5), rgba(255, 255, 255, 0));
    background-image: linear-gradient(rgba(170, 170, 170, 0.5), rgba(255, 255, 255, 0));
    z-index: 1
}

h2, h3, h4 {
    color: #2d4159;
    font-size: 1.3em;
    line-height: 1.5em;
    margin: .2em 0 .5em
}

.comment {
    font-size: .9em;
    border-top: 1px solid #ddd;
    background: #f5f5f5;
    padding: 1em 0;
    border-bottom: 1px dashed #ddd;
    color: #6c7c9a
}

.comment p {
    padding-left: 12px;
    border-left: 5px solid rgba(45, 65, 89, 0.5)
}

.comment p:first-child {
    font-weight: bold;
    color: #2d4159;
    padding-left: 0;
    border: 0;
    padding-bottom: 1em
}

.comment+.comment {
    border-top: none
}

.comment+h3, .comment+h4 {
    margin: 0 0 .5em
}

.comment:nth-last-of-type(1) {
    border-bottom: 1px solid #ddd;
    margin-bottom: 2em
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold
}

.top-button, a.new_article, .article_actions a[href$='edit'], .article_actions a[data-method='delete'] {
    position: absolute;
    top: 26px;
    right: 20px;
    display: inline-block;
    padding: 4px 11px;
    font-size: .9em;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 -1px inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 -1px inset;
    -o-box-shadow: rgba(255, 255, 255, 0.4) 0 -1px inset;
    box-shadow: rgba(255, 255, 255, 0.4) 0 -1px inset;
    -moz-border-radius: 1.2em;
    -webkit-border-radius: 1.2em;
    -o-border-radius: 1.2em;
    -ms-border-radius: 1.2em;
    -khtml-border-radius: 1.2em;
    border-radius: 1.2em;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
    background-image: -moz-linear-gradient(#ffffff, #cccccc);
    background-image: linear-gradient(#ffffff, #cccccc);
    text-shadow: #fff 0 1px;
    color: #999999;
    text-decoration: none
}

.top-button:hover, a.new_article:hover, .article_actions a[href$='edit']:hover, .article_actions a[data-method='delete']:hover {
    color: #555
}

.top-button:active, a.new_article:active, .article_actions a[href$='edit']:active, .article_actions a[data-method='delete']:active {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d9d9d9), color-stop(100%, #f5f5f5));
    background-image: -moz-linear-gradient(#d9d9d9, #f5f5f5);
    background-image: linear-gradient(#d9d9d9, #f5f5f5)
}

#sidebar+ul {
    padding-right: 180px
}

#sidebar+ul li {
    padding-right: 30px
}

#sidebar+ul:after {
    position: absolute;
    right: 180px;
    top: 0;
    bottom: 0;
    content: " ";
    width: 1px;
    background: #e5e5e5
}

#articles {
    margin: -15px -20px -20px;
    padding: 10px 20px 10px;
    padding-left: 40px;
    min-width: 550px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -o-border-bottom-left-radius: 6px;
    -ms-border-bottom-left-radius: 6px;
    -khtml-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -o-border-bottom-right-radius: 6px;
    -ms-border-bottom-right-radius: 6px;
    -khtml-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-right: 1px solid #e2e2e2
}

#articles li {
    border-bottom: 1px dashed #e5e5e5;
    padding: 1em 0 .8em;
    margin-right: 20px;
    font-size: 1.2em;
    position: relative
}

#articles li:last-child {
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -o-border-bottom-left-radius: 6px;
    -ms-border-bottom-left-radius: 6px;
    -khtml-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom: 0
}

#articles li>a:first-child {
    font-weight: bold;
    display: block;
    color: #2d4159;
    padding-bottom: .1em
}

#articles .actions {
    border-left: 1px dotted #ddd;
    padding-left: 8px;
    margin-left: 3px;
    line-height: 1em;
    position: relative;
    top: 2px
}

#articles .actions a {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2
}

#articles .actions a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4
}

#articles .tag_list {
    display: inline-block;
    font-size: .8em;
    padding-top: .5em;
    color: #999
}

.article_actions {
    border-bottom: 1px dashed #ddd;
    margin-bottom: .7em;
    padding-bottom: .7em;
    font-size: .9em;
    overflow: hidden;
    *zoom: 1;
    text-align: right
}

.article_actions a {
    float: left;
    color: #999999
}

.article_actions a:hover img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6
}

.article_actions img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
    position: relative;
    top: 2px
}

.article_actions a[href$='edit'], .article_actions a[data-method='delete'] {
    text-decoration: none;
    float: none;
    margin-left: .5em;
    padding: 4px 12px 3px 8px
}

.article_actions a[data-method='delete'] {
    right: 90px
}

p.tag_list {
    border-top: 1px dashed #ddd;
    margin: 1em 0;
    padding-top: .5em;
    font-size: .9em;
    color: #999
}

#sidebar {
    font-weight: bold;
    width: 150px;
    padding: 15px 10px;
    float: right;
    margin: -15px -20px 0 0;
    position: relative;
    z-index: 1
}

#sidebar ul {
    margin: .5em 0;
    font-weight: normal
}

#sidebar ul a {
    color: #6c7c9a
}

.input, form input[type=text], form input[type=password], form textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    padding: .3em .4em;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #1f2d3e;
    font-size: 1.3em
}

.input:focus, form input[type=text]:focus, form input[type=password]:focus, form textarea:focus {
    outline: 0;
    -moz-box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px inset;
    -webkit-box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px inset;
    -o-box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px inset;
    box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px inset;
    border-color: #81b1df;
    background-color: #fff
}

form input[type=text], form input[type=password] {
    margin: 0
}

form p {
    padding: 0;
    margin-bottom: .6em
}

form label {
    color: #6c7c9a;
    font-size: .9em;
    font-weight: bold;
    line-height: 1.5em;
    padding-bottom: .2em;
    display: inline-block;
    text-transform: uppercase
}

form textarea {
    height: 12em;
    font-size: 1.1em
}

input[type=submit] {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.2em;
    padding: 0.3em 1em;
    border-width: 1px;
    background-color: #134e89;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #81a2c3), color-stop(10%, #4b749e), color-stop(50%, #2d4660), color-stop(50%, #283f55), color-stop(100%, #395878));
    background-image: -moz-linear-gradient(#81a2c3, #4b749e 10%, #2d4660 50%, #283f55 50%, #395878);
    background-image: linear-gradient(#81a2c3, #4b749e 10%, #2d4660 50%, #283f55 50%, #395878);
    border-color: #192836;
    text-shadow: #030e19 0px 1px 1px;
    -moz-box-shadow: rgba(255, 255, 255, 0.306) 0 0 0.1em 1px inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.306) 0 0 0.1em 1px inset;
    -o-box-shadow: rgba(255, 255, 255, 0.306) 0 0 0.1em 1px inset;
    box-shadow: rgba(255, 255, 255, 0.306) 0 0 0.1em 1px inset;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 1.2em
}

input[type=submit], input[type=submit]:visited {
    color: #fff
}

input[type=submit]:hover, input[type=submit]:focus {
    background-color: #11467c;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #769bbf), color-stop(10%, #466d94), color-stop(50%, #283f55), color-stop(50%, #23374b), color-stop(100%, #34516d));
    background-image: -moz-linear-gradient(#769bbf, #466d94 10%, #283f55 50%, #23374b 50%, #34516d);
    background-image: linear-gradient(#769bbf, #466d94 10%, #283f55 50%, #23374b 50%, #34516d);
    border-color: #15202c;
    text-shadow: #02070c 0px 1px 1px
}

input[type=submit]:hover, input[type=submit]:hover:visited, input[type=submit]:focus, input[type=submit]:focus:visited {
    color: #fff
}

input[type=submit]:active {
    background-color: #0f3f6e;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #283f55), color-stop(30%, #2b445c), color-stop(50%, #253a4e), color-stop(50%, #203244), color-stop(100%, #355371));
    background-image: -moz-linear-gradient(#283f55, #2b445c 30%, #253a4e 50%, #203244 50%, #355371);
    background-image: linear-gradient(#283f55, #2b445c 30%, #253a4e 50%, #203244 50%, #355371);
    border-color: #101821;
    text-shadow: #000 0px -1px -1px;
    -moz-box-shadow: #192836 0 0.08em 0.2em 1px inset;
    -webkit-box-shadow: #192836 0 0.08em 0.2em 1px inset;
    -o-box-shadow: #192836 0 0.08em 0.2em 1px inset;
    box-shadow: #192836 0 0.08em 0.2em 1px inset
}

input[type=submit]:active, input[type=submit]:active:visited {
    color: #fff
}

div.field_with_errors label {
    color: red;
    font-weight: bold
}

div.field_with_errors input {
    border: 3px solid red
}

.back_to_articles_list_link {
    display: block;
    padding: 6px;
    margin: 6px;
    margin-right: 70%;
    margin-left: 10%;
    border: 1px solid black;
    border-radius: 12px;
}
.edit_article_button {
	display: block;
	padding: 5px;
	margin-top: 10px;
	}

.time_edited {
    margin: 6px 0px 6px 0px;
    margin-left: 60%;
    text-align: right;
    border-bottom: 2px solid #e2b5b5;
    width: 40%;
}
.display_tags {
    display: block;
    text-align: right;
    border-top: 1px solid #858585;
    border-bottom: 1px solid #858585;
    margin: 6px;
    margin-left: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}
