// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_form {
    display: block;
    text-align: center;
    border: 3px solid #89c7b4;
}
.comment {
    display: grid;
    border: 2px solid #8fb8d3;
    padding: 2px;
    padding-left: 10px;
}
.comment_time {
    display: grid;
    border-top: 1px dotted #8fb8d3;
    padding: 2px;
    padding-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: small;
}
.comment_author {
    border-bottom: 1px solid #8fb8d3
}
.comment_body {
    display: grid;
    border: 2px solid #8fb8d3;
    padding: 2px;
    padding-left: 10px;
    margin: 2px;
}
.comment_title {
    margin-left: 30px;
    margin-right: 60%;
    border-bottom: 4px solid #8fb8d3;
}
