$primary_color: #EEEEEE;

body {
     background-color: $primary_color;
	   font: {
		      family: Verdana, Helvetica, Arial;
			      size: 14px;
				    }
}

a {
     color: #0000FF;
	   img {
		      border: none;
			    }
}

.clear {
     clear: both;
	   height: 0;
	     overflow: hidden;
}

#container {
  width: 75%;
    margin: 0 auto;
	  background: #fffff;
	    padding: 20px 40px;
		  border: solid 1px black;
		    margin-top: 20px;
}

#content {
  clear: both;
    padding-top: 20px;
}

