// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article_tag_list {
    display: block;
    padding: 4px;
}
.delete_tag_button {
    background: red;
    color: white;
    display: block;
    border: 1px solid red;
    border-radius: 24px;
    padding: 4px;
    margin-right: 85%;
    margin-left: 20px;
    text-align: center;
}